.display
{
    display: flex;
}
.font
{
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
}
h3
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
h4
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
h2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.color
{
    color: black;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;

}
.head
{
    font-weight:600;
    color: brown;
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
    margin-top: 8px;
    margin-right: 4px;
    margin-bottom: 8px;
}

li
{
    font-weight:bold;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.cross
{
    padding-top: 23px;
    font-weight: 600;
    font-style:italic;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
}
.ss
{
    position: relative;
    display: inline-block;
    margin-top: 6px;
    background-color: rgb(255, 255, 255);
    padding: 10px 30px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 12px;
    border: 2px solid brown;
    font-weight: 300;
    font-size: 22px;
}
.lang
{
    position: relative;
    display: inline-block;
    margin-top: 6px;
    margin-right: 4px;
    background-color:brown;
    color: aliceblue;
    padding: 10px 30px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 12px;
    border: 2px solid brown;
    font-weight: 300;
    font-size: 22px;
}
.style
{
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;  
}
.bar
{
    background-color: brown;
    height: 15px;
}
.footer
{
    position: relative;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    
}
.sty
{
    font-family:'Times New Roman', Times, serif;
    font-size: 23px;
}